# .gitignore file for peddip
.DS_Store
__pycache__/
*.py[cod]
*$py.class
*.sqlite
*.csv
*.sh
*.log
*.pyc
*.swp
pediip_conda_env/
pediip_conda_env_new/
pediip_env/
pediip_env_new/
pediip_20210623/
.bash_history
.cache/
.keras/
.nfs00000000ad0400890000001b
.nfs00000000ad04008a0000001c
bin/.nfs00000000a220b3000000001d

